<p>
    Copyright &copy; {{ site.time | date: "%Y" }} -  Tennis Town and Country.
    T&C Village #99, Palo Alto, CA 94301.
    <br/>
    <a href="https://maps.google.com/maps?q=tennis+town+and+country&hl=en&gl=us&ved=0CEYQpQY&ei=XTPzTK2gD4TgiQPR343dBQ&sll=37.439424,-122.158643&sspn=0.006295,0.006295&ie=UTF8&view=map&cid=9007169428644521844&hq=tennis+town+and+country&hnear=&ll=37.439974,-122.158635&spn=0.009813,0.018625&z=16&iwloc=A">Map</a>.
    Phone: <a href="tel:+16503283223">(650) 382-3223</a>.
    Email: <a href="mailto:todor@tennistownandcountry.com?subject=Question">todor@tennistownandcountry.com</a>
</p>
